apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configurations:
- commonlabels_override.yaml

resources:
- ap.yaml
generatorOptions:
  disableNameSuffixHash: true

patchesStrategicMerge:
  - patches/istio_namespace_labels.yaml
