# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/actions"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(dependabot)"
  - package-ecosystem: "gomod"
    directories:
      - "/"
      - "/api"
      - "/maintenancewindows"
    labels:
      - "go"
      - "area/dependency"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore(dependabot)"
    groups:
      k8s-dependencies:
        patterns:
          - "k8s.io/*"
      istio-dependencies:
        patterns:
          - "istio.io/*"
      ginkgo-gomega:
        patterns:
          - "github.com/onsi/ginkgo/v2"
          - "github.com/onsi/gomega"
  - package-ecosystem: "docker"
    directory: "/"
    labels:
      - "docker"
      - "area/dependency"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore(dependabot)"
