apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: redis
spec:
  selector:
    matchLabels:
      control-plane: redis-deployment
  template:
    metadata:
      labels:
        control-plane: redis-deployment
    spec:
      containers:
        - name: redis
          image: redis:5.0.4
          command:
            - redis-server
            - "/redis-master/redis.conf"
          env:
            - name: MASTER
              value: "true"
          ports:
            - containerPort: 6379
          resources:
            limits:
              cpu: "0.1"
          volumeMounts:
            - mountPath: /redis-master-data
              name: data
            - mountPath: /redis-master
              name: config
      volumes:
        - name: data
          emptyDir: {}
        - name: config
          configMap:
            name: test-redis-config
            items:
              - key: redis-config
                path: redis.conf
