apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
generatorOptions:
  disableNameSuffixHash: true
resources:
  - manager.yaml
  - metrics_service.yaml
images:
  - name: controller
    newName: /lifecycle-manager
