apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  labels:
    app.kubernetes.io/component: lifecycle-manager.kyma-project.io
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: lifecycle-manager.kyma-project.io
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/component: lifecycle-manager.kyma-project.io
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
        - command:
            - /manager
          args:
            - --leader-elect
          env:
            - name: GODEBUG
              value: fips140=only,tlsmlkem=0
          image: controller:latest
          ports:
            - containerPort: 8082
              name: listener
            - containerPort: 8080
              name: metrics
          name: manager
          securityContext:
            allowPrivilegeEscalation: false
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              memory: 1024Mi
            requests:
              cpu: 10m
              memory: 64Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
