# The main purpose of this dedicated kustomization is to have different configuration for testing the watcher locally.
# Unlike the default setup, it enables the ability to configure additional components
# that we do not want in the default configuration (e.g. vendor-specific gateway implementation)
# but are necessary for testing the watcher on locally provisioned clusters using k3d.
# In control-plane we expect a kcp-system and kyma-system namespace to be already present, thus for testing we need to create it
resources:
- ../control-plane
- patches/namespace_create.yaml

# [WATCHER] To enable the watcher, uncomment all the sections with [WATCHER]
# [ISTIO] To enable istio, uncomment all sections with 'ISTIO'.
components:
- ../watcher
- ../istio


generatorOptions:
  disableNameSuffixHash: true

patchesStrategicMerge:
- patches/servicemonitor_delete.yaml
- patches/adjust_resources_for_local_setup.yaml


# Patches enable the local testing mode for the KLM
# and sets the namespace for the watcher resources to `kcp-system`.
# When deployed on KCP it will be set by the default kustomize.
patches:
- patch: |-
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --enable-domain-name-pinning=true
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --kyma-requeue-success-interval=20s
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --log-level=9
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --additional-dns-names=localhost,127.0.0.1,host.k3d.internal
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: --listener-port-overwrite=9443
    - op: replace
      path: /spec/template/spec/containers/0/imagePullPolicy
      value: Always
  target:
    kind: Deployment
- patch: |-
    - op: replace
      path: /metadata/namespace
      value: kcp-system
  target:
    group: operator.kyma-project.io
    kind: Watcher
    version: v1beta2
- patch: |-
    - op: replace
      path: /metadata/name
      value: klm-event-service
    - op: replace
      path: /metadata/namespace
      value: kcp-system
  target:
    kind: Service
    name: event-service
- patch: |-
    - op: replace
      path: /metadata/namespace
      value: kcp-system
  target:
    group: security.istio.io
    kind: AuthorizationPolicy
    name: controller-manager
    version: v1beta1
- patch: |-
    - op: replace
      path: /metadata/namespace
      value: kcp-system
    - op: replace
      path: /spec/servers/0/hosts/0
      value: "host.k3d.internal"
  target:
    group: networking.istio.io
    kind: Gateway
    name: lifecycle-manager-watcher-gateway
    version: v1beta1
- path: metrics_patch.yaml
  target:
    kind: Deployment


# JSON patches needed to ensure certificate setup namespaces are not
# being overwritten by kustomize global namespace patch. The certificate
# setup needs to be in the `istio-system` namespace
patchesJson6902:
- patch: |-
    - op: replace
      path: /spec/dnsNames/0
      value: "localhost"
    - op: add
      path: /spec/dnsNames/1
      value: "host.k3d.internal"
    - op: replace
      path: /metadata/namespace
      value: "istio-system"
    - op: add
      path: /spec/issuerRef/name
      value: "watcher-selfsigned-cluster-issuer"
  target:
    group: cert-manager.io
    kind: Certificate
    name: watcher-serving-cert
    version: v1
- patch: |-
    - op: replace
      path: /metadata/namespace
      value: "istio-system"
  target:
    group: cert-manager.io
    kind: ClusterIssuer
    name: watcher-selfsigned-cluster-issuer
    version: v1
- patch: |-
    - op: replace
      path: /metadata/namespace
      value: "istio-system"
  target:
    group: cert-manager.io
    kind: Issuer
    name: watcher-selfsigned-issuer
    version: v1

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: lifecycle-manager.kyma-project.io
    app.kubernetes.io/created-by: kustomize
    app.kubernetes.io/instance: kcp-lifecycle-manager-main
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: kcp-lifecycle-manager
    app.kubernetes.io/part-of: manual-deployment
