apiVersion: operator.kyma-project.io/v1alpha1
kind: Watcher
metadata:
  name: watcher
  namespace: kyma-system
  labels:
    "operator.kyma-project.io/managed-by": "lifecycle-manager"
spec:
  labelsToWatch:
    "operator.kyma-project.io/watched-by": "lifecycle-manager"
  field: "spec"
  serviceInfo:
    name: lifecycle-manager-event-service
    port: 8082
    namespace: kcp-system

---
apiVersion: v1
kind: Service
metadata:
  name: event-service
  namespace: kyma-system
spec:
  selector:
    app.kubernetes.io/component: lifecycle-manager.kyma-project.io
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
