---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: controlplanemodules.component.kyma-project.io
spec:
  group: component.kyma-project.io
  names:
    kind: ControlPlaneModule
    listKind: ControlPlaneModuleList
    plural: controlplanemodules
    singular: controlplanemodule
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ControlPlaneModule is the Schema for the moduletemplates API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ControlPlaneModuleSpec defines the desired state of ControlPlaneModule.
            properties:
              config:
                description: Config specifies OCI image configuration
                properties:
                  name:
                    description: Name defines the Image name
                    type: string
                  ref:
                    description: Ref is either a sha value, tag or version
                    type: string
                  repo:
                    description: Repo defines the Image repo
                    type: string
                  type:
                    description: Type defines the chart as "oci-ref"
                    enum:
                    - helm-chart
                    - oci-ref
                    type: string
                required:
                - type
                type: object
            type: object
          status:
            description: ManifestStatus defines the observed state of Manifest.
            properties:
              state:
                enum:
                - Processing
                - Deleting
                - Ready
                - Error
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
