apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: controller-manager
  namespace: system
spec:
  mtls:
    mode: PERMISSIVE
  selector:
    matchLabels:
      control-plane: controller-manager