---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: manager-role-remote-namespace
  namespace: kyma-system
rules:
- apiGroups:
    - operator.kyma-project.io
  resources:
    - kymas
  verbs:
    - list
    - watch
    - delete
    - get
    - create
    - patch
    - update
- apiGroups:
    - operator.kyma-project.io
  resources:
    - kymas/finalizers
  verbs:
    - update
- apiGroups:
    - operator.kyma-project.io
  resources:
    - kymas/status
  verbs:
    - get
    - patch
    - update
    - watch
- apiGroups:
    - operator.kyma-project.io
  resources:
    - moduletemplates
  verbs:
    - list
    - watch
    - delete
- apiGroups:
    - operator.kyma-project.io
  resources:
    - modulereleasemetas
  verbs:
    - list
    - watch
    - delete