---
# Give controller-manager permissions to the cert-manager-related resources for watcher
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: controller-manager-gardener-certmanager
  namespace: istio-system
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - watch
      - list
      - get
      - create
      - update
      - delete
  - apiGroups:
      - cert.gardener.cloud
    resources:
      - certificates
    verbs:
      - watch
      - list
      - get
      - create
      - patch
      - update
      - delete
