apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configurations:
- commonlabels_override.yaml

resources:
- ap.yaml
- gateway.yaml
generatorOptions:
  disableNameSuffixHash: true

patches:
  - target:
      version: v1
      kind: Namespace
    path: patches/istio_namespace_labels.yaml
