apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
spec:
  template:
    spec:
      containers:
        - name: manager
          resources:
            limits:
              memory: 4000Mi
            requests:
              cpu: 1000m
              memory: 1000Mi
