apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: controller-manager-leader-election
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: controller-manager-leader-election
subjects:
  - kind: ServiceAccount
    name: controller-manager
