---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: controller-manager
  namespace: kcp-system
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - networking.istio.io
    resources:
      - gateways
    verbs:
      - get
      - list
  - apiGroups:
      - networking.istio.io
    resources:
      - virtualservices
    verbs:
      - create
      - delete
      - get
      - list
      - update
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - kymas
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - kymas/finalizers
    verbs:
      - update
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - kymas/status
    verbs:
      - get
      - patch
      - update
      - watch
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - manifests
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - manifests/finalizers
    verbs:
      - update
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - manifests/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - modulereleasemetas
    verbs:
      - get
      - list
      - watch
      - update
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - modulereleasemetas/finalizers
    verbs:
      - update
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - moduletemplates
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - moduletemplates/finalizers
    verbs:
      - update
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - watchers
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - watchers/finalizers
    verbs:
      - update
  - apiGroups:
      - operator.kyma-project.io
    resources:
      - watchers/status
    verbs:
      - get
      - patch
      - update
