apiVersion: operator.kyma-project.io/v1alpha1
kind: Manifest
metadata:
  labels:
    operator.kyma-project.io/channel: stable
    operator.kyma-project.io/controller-name: manifest
    operator.kyma-project.io/kyma-name: kyma-sample
  name: manifestkyma-sample
  namespace: default
spec:
  remote: false
  resource:
    kind: SampleCRD
    apiVersion: operator.kyma-project.io/v1alpha1
    metadata:
      name: sample-crd-from-manifest
      namespace: default
    spec:
      randomkey: samplevalue
  installs:
#    - source:
#        name: kyma.project.io/module/kyma-redis
#        repo: europe-west3-docker.pkg.dev/sap-kyma-jellyfish-dev/operator-demo
#        ref: sha256:cd98ce9b440fef2e1d11fe382ccf6fab971f516efa9ee174d73209777ed318b5
#        type: oci-ref
#      name: kyma-redis-operator
    - source:
        chartName: nginx-ingress
        url:       https://helm.nginx.com/stable
        type:      helm-chart
      name: nginx-stable
