apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
  - bases/operator.kyma-project.io_kymas.yaml
  - bases/operator.kyma-project.io_manifests.yaml
  - bases/operator.kyma-project.io_moduletemplates.yaml
  - bases/operator.kyma-project.io_watchers.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
- patches/webhook_in_kymas.yaml
- patches/webhook_in_moduletemplates.yaml
- patches/webhook_in_watchers.yaml
- patches/webhook_in_manifests.yaml
#- patches/webhook_in_kymas.yaml
#- patches/webhook_in_manifests.yaml
#- patches/webhook_in_moduletemplates.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
- patches/cainjection_in_kymas.yaml
- patches/cainjection_in_moduletemplates.yaml
- patches/cainjection_in_watchers.yaml
- patches/cainjection_in_manifests.yaml
#- patches/cainjection_in_kymas.yaml
#- patches/cainjection_in_manifests.yaml
#- patches/cainjection_in_moduletemplates.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
  - kustomizeconfig.yaml
