apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: klm-
commonLabels:
  app.kubernetes.io/instance: kcp-lifecycle-manager
  app.kubernetes.io/name: lifecycle-manager
  app.kubernetes.io/created-by: argo-cd
  app.kubernetes.io/part-of: kcp
  app.kubernetes.io/managed-by: kustomize
  test.kyma-project.io/managed-by: test #testing manifest change
images:
  - name: europe-docker.pkg.dev/kyma-project/prod/lifecycle-manager
resources:
  - ../manager
components:
  - ../crd
  - ../rbac
  - ../istio
  - ../watcher
  - ../webhook
  - ../grafana
  - ../certmanager
patches:
  - path: patches/deployment_resources.yaml
  - path: patches/unique_deployment_webhook_patch.yaml
  - target:
      kind: Deployment
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --rate-limiter-burst=2000
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --rate-limiter-frequency=1000
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --k8s-client-qps=1000
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --k8s-client-burst=2000
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --cache-sync-timeout=60m
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --failure-max-delay=30s
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --failure-base-delay=5s
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --is-kyma-managed
  - target:
      kind: ConfigMap
      name: dashboard-(overview|status|watcher|mandatory-modules)
      version: v1
    patch: |-
      - op: add
        path: /metadata/labels
        value: { }
      - op: add
        path: /metadata/labels/grafana_dashboard
        value: "1"
# Note: Now as the 'patchesJson6902' is deprecated, the direct use of the 'PatchTransformer' is the only way to change a resource namespace to something different from the value configured by the global namespace transformer.
transformers:
  - |-
    apiVersion: builtin
    kind: PrefixSuffixTransformer
    metadata:
      name: add-klm-prefix-to-resources
    prefix: klm-
    fieldSpecs:
    - path: subjects/name
      kind: RoleBinding
    - path: subjects/name
      kind: ClusterRoleBinding
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: add-resources-to-kcp-system
      namespace: kcp-system
    unsetOnly: true
    setRoleBindingSubjects: allServiceAccounts
