---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: kymas.operator.kyma-project.io
spec:
  group: operator.kyma-project.io
  names:
    kind: Kyma
    listKind: KymaList
    plural: kymas
    singular: kyma
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.state
      name: State
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Kyma is the Schema for the kymas API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KymaSpec defines the desired state of Kyma.
            properties:
              channel:
                description: Channel specifies the desired Channel of the Installation,
                  usually targeting different module versions.
                enum:
                - rapid
                - regular
                - stable
                type: string
              modules:
                description: Modules specifies the list of modules to be installed
                items:
                  description: Module defines the components to be installed.
                  properties:
                    channel:
                      description: Channel is the desired channel of the Module. If
                        this changes or is set, it will be used to resolve a new ModuleTemplate
                        based on the new resolved resources.
                      enum:
                      - rapid
                      - regular
                      - stable
                      type: string
                    controller:
                      description: ControllerName is able to set the controller used
                        for reconciliation of the module. It can be used together
                        with Cache Configuration on the Operator responsible for the
                        templated Modules to split workload.
                      type: string
                    name:
                      description: Name is a unique identifier of the module. It is
                        used together with KymaName, ChannelLabel, ProfileLabel label
                        to resolve a ModuleTemplate.
                      type: string
                    overrides:
                      description: Overrides are a typed Representation of the Specification
                        Values of a Module. It can be used to define certain types
                        of override configurations that can be used to target specific
                        override Interfaces.
                      items:
                        properties:
                          name:
                            type: string
                          selector:
                            description: A label selector is a label query over a
                              set of resources. The result of matchLabels and matchExpressions
                              are ANDed. An empty label selector matches all objects.
                              A null label selector matches no objects.
                            properties:
                              matchExpressions:
                                description: matchExpressions is a list of label selector
                                  requirements. The requirements are ANDed.
                                items:
                                  description: A label selector requirement is a selector
                                    that contains values, a key, and an operator that
                                    relates the key and values.
                                  properties:
                                    key:
                                      description: key is the label key that the selector
                                        applies to.
                                      type: string
                                    operator:
                                      description: operator represents a key's relationship
                                        to a set of values. Valid operators are In,
                                        NotIn, Exists and DoesNotExist.
                                      type: string
                                    values:
                                      description: values is an array of string values.
                                        If the operator is In or NotIn, the values
                                        array must be non-empty. If the operator is
                                        Exists or DoesNotExist, the values array must
                                        be empty. This array is replaced during a
                                        strategic merge patch.
                                      items:
                                        type: string
                                      type: array
                                  required:
                                  - key
                                  - operator
                                  type: object
                                type: array
                              matchLabels:
                                additionalProperties:
                                  type: string
                                description: matchLabels is a map of {key,value} pairs.
                                  A single {key,value} in the matchLabels map is equivalent
                                  to an element of matchExpressions, whose key field
                                  is "key", the operator is "In", and the values array
                                  contains only "value". The requirements are ANDed.
                                type: object
                            type: object
                            x-kubernetes-map-type: atomic
                        required:
                        - name
                        type: object
                      type: array
                    settings:
                      description: Settings are a generic Representation of the entire
                        Specification of a Module. It can be used as an alternative
                        to generic Settings written into the ModuleTemplate as they
                        are directly passed to the resulting CR. Note that this Settings
                        argument is validated against the API Server and thus will
                        not accept GVKs that are not registered as CustomResourceDefinition.
                        This can be used to apply settings / overrides that the operator
                        accepts as generic overrides for its CustomResource.
                      type: object
                      x-kubernetes-embedded-resource: true
                      x-kubernetes-preserve-unknown-fields: true
                  required:
                  - name
                  type: object
                type: array
              profile:
                description: Profile specifies the desired Profile of the Installation,
                  usually targeting different resource limitations.
                enum:
                - evaluation
                - production
                type: string
              sync:
                description: Active Synchronization Settings
                properties:
                  enabled:
                    default: false
                    description: Enabled set to true will look up a kubeconfig for
                      the remote cluster based on the strategy and synchronize its
                      state there.
                    type: boolean
                  namespace:
                    description: The target namespace, if empty the namespace is reflected
                      from the control plane Note that cleanup is currently not supported
                      if you are switching the namespace, so you will manually need
                      to cleanup old synchronized Kymas
                    type: string
                  strategy:
                    default: secret
                    description: Strategy determines the way to lookup the remotely
                      synced kubeconfig, by default it is fetched from a secret
                    type: string
                type: object
            required:
            - channel
            - profile
            type: object
          status:
            description: KymaStatus defines the observed state of Kyma
            properties:
              activeChannel:
                description: Active Channel
                enum:
                - rapid
                - regular
                - stable
                type: string
              activeOverrides:
                additionalProperties:
                  properties:
                    applied:
                      type: boolean
                    hash:
                      type: string
                  type: object
                type: object
              conditions:
                description: List of status conditions to indicate the status of a
                  ServiceInstance.
                items:
                  description: KymaCondition describes condition information for Kyma.
                  properties:
                    lastTransitionTime:
                      description: Timestamp for when Kyma last transitioned from
                        one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        the last status transition.
                      type: string
                    moduleInfo:
                      description: ModuleInfo provide the latest deployed Module CR
                        information.
                      properties:
                        generation:
                          description: Generation tracks the active Generation of
                            the Deployed Module CR.
                          format: int64
                          type: integer
                      type: object
                    reason:
                      description: Machine-readable text indicating the reason for
                        the condition's last transition.
                      type: string
                    status:
                      description: Status of the Kyma Condition. Value can be one
                        of ("True", "False", "Unknown").
                      type: string
                    templateInfo:
                      description: Additional Information when the condition is bound
                        to a ModuleTemplate. It contains information about the last
                        parsing that occurred and will track the state of the parser
                        ModuleTemplate in Context of the Installation. This will update
                        when Channel, Profile or the ModuleTemplate used in the Condition
                        is changed.
                      properties:
                        channel:
                          description: Channel tracks the active Channel of the ModuleTemplate.
                            In Case it changes, the new Channel will have caused a
                            new lookup to be necessary that maybe picks a different
                            ModuleTemplate, which is why we need to reconcile.
                          enum:
                          - rapid
                          - regular
                          - stable
                          type: string
                        generation:
                          description: Generation tracks the active Generation of
                            the ModuleTemplate. In Case it changes, the new Generation
                            will differ from the one tracked in TemplateInfo and thus
                            trigger a new reconciliation with a newly parser ModuleTemplate
                          format: int64
                          type: integer
                        gvk:
                          description: GroupVersionKind is used to track the Kind
                            that was created from the ModuleTemplate. This is dynamic
                            to not bind ourselves to any kind of Kind in the code
                            and allows us to work generic on deletion / cleanup of
                            related resources to a Kyma Installation.
                          properties:
                            group:
                              type: string
                            kind:
                              type: string
                            version:
                              type: string
                          required:
                          - group
                          - kind
                          - version
                          type: object
                      type: object
                    type:
                      description: Type is used to reflect what type of condition
                        we are dealing with. Most commonly ConditionTypeReady it is
                        used as extension marker in the future
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: Observed generation
                format: int64
                type: integer
              state:
                description: State signifies current state of Kyma. Value can be one
                  of ("Ready", "Processing", "Error", "Deleting").
                enum:
                - Processing
                - Deleting
                - Ready
                - Error
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
