---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: kymas.operator.kyma-project.io
spec:
  group: operator.kyma-project.io
  names:
    kind: Kyma
    listKind: KymaList
    plural: kymas
    singular: kyma
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Kyma is the Schema for the kymas API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: KymaSpec defines the desired state of Kyma
            properties:
              components:
                description: Components specifies the list of components to be installed
                items:
                  description: ComponentType defines the components to be installed
                  properties:
                    name:
                      type: string
                    settings:
                      additionalProperties:
                        type: string
                      type: object
                  required:
                  - name
                  - settings
                  type: object
                type: array
              release:
                type: string
            required:
            - release
            type: object
          status:
            description: KymaStatus defines the observed state of Kyma
            properties:
              activeRelease:
                description: Active Release
                type: string
              conditions:
                description: List of status conditions to indicate the status of a
                  ServiceInstance.
                items:
                  description: KymaCondition describes condition information for Kyma.
                  properties:
                    lastTransitionTime:
                      description: Timestamp for when Kyma last transitioned from
                        one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        the last status transition.
                      type: string
                    reason:
                      description: Machine-readable text indicating the reason for
                        the condition's last transition.
                      type: string
                    status:
                      description: Status of the Kyma Condition. Value can be one
                        of ("True", "False", "Unknown").
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: Observed generation
                format: int64
                type: integer
              state:
                description: State signifies current state of Kyma. Value can be one
                  of ("Ready", "Processing", "Error", "Deleting").
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
