---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: modulereleasemeta.operator.kyma-project.io
spec:
  group: operator.kyma-project.io
  names:
    kind: ModuleReleaseMeta
    listKind: ModuleReleaseMetaList
    plural: modulereleasemeta
    singular: modulereleasemeta
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1beta2
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ModuleReleaseMetaSpec defines the version-channel assignments
              for a module
            properties:
              channels:
                description: Channels is the list of module channels with their corresponding
                  versions
                items:
                  properties:
                    channel:
                      description: Channel is the module channel of the corresponding
                        module version.
                      maxLength: 32
                      minLength: 3
                      pattern: ^[a-z]+$
                      type: string
                    version:
                      description: Version is the module version of the corresponding
                        module channel.
                      maxLength: 32
                      pattern: ^((0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(-[a-zA-Z-][0-9a-zA-Z-]*)?)?$
                      type: string
                  required:
                  - channel
                  - version
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
              moduleName:
                description: ModuleName is the name of the Module.
                maxLength: 64
                pattern: ^([a-z]{3,}(-[a-z]{3,})*)?$
                type: string
            required:
            - channels
            - moduleName
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
