name: Lint yaml

permissions: { }

on:
  pull_request:
    branches:
      - main
      - feat/**
  workflow_dispatch:

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout lifecycle-manager
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: lifecycle-manager
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@b74a2626a991d676b6ec243a6458ff86cccf2d2d
        with:
          no_warnings: true
          config_file: ./lifecycle-manager/.yamllint.yml
