name: Lint golangci

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'go.mod'
      - 'go.sum'
      - '**.go'
  workflow_dispatch:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54.2
          args: --verbose --config=.github/config/.golangci.yaml
