name: TestSuite integration and unit tests

on:
  pull_request:
    branches: [ "main" ]
jobs:
  envtest-and-unittest:
    name: "Run 'make test'"
    runs-on: ubuntu-latest
    env:
      GOSUMDB: off
    steps:
      - name: Checkout lifecycle-manager
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'
      - name: Run 'make test'
        run: |
          make test
