name: TestSuite integration and unit tests

permissions: { }

on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  envtest-and-unittest:
    name: "Run 'make test'"
    runs-on: ubuntu-latest
    env:
      GOSUMDB: sum.golang.org
    steps:
      - name: Checkout lifecycle-manager
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - name: Run 'make test'
        run: |
          make test
