name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  smoke:
    name: "Smoke"
    strategy:
      matrix:
        os: [ubuntu-latest]
        provision-type: ["kyma-cli", "kind"]
        
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        cache: true
        go-version-file: 'tests/smoke/go.mod'
        cache-dependency-path: 'tests/smoke/go.sum'

    - name: Set up k3d/kyma for ${{ matrix.provision-type }}
      if: ${{ matrix.provision-type }} == "kyma-cli"
      run: |
        wget -qO - https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | TAG=v5.4.6 bash
        wget -q https://storage.googleapis.com/kyma-cli-unstable/kyma-linux
        chmod +x kyma-linux
        mv kyma-linux /usr/local/bin/kyma

    - name: Set up kustomize V4
      run: |
        wget -qO - "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
        mv kustomize /usr/local/bin/

    - name: Override Kustomize Controller Image TAG in Pull Request to PR Image
      if: github.event_name == 'pull_request'
      run: |
        cd operator/config/manager
        kustomize edit set image controller="*:PR-${{ github.event.pull_request.number }}"

    - name: Wait for Image Build to Succeed
      if: github.event_name == 'pull_request'
      uses: lewagon/wait-on-check-action@v1.1.2
      with:
        ref: ${{ github.event.pull_request.head.sha || github.sha }}
        check-name: github.event_name == 'pull_request' && pull-build || main-build
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        wait-interval: 5

    - name: Run Smoke Tests
      run: cd tests/smoke && go test smoke_test.go -v -provision-type ${{ matrix.provision-type }}
