apiVersion: operator.kyma-project.io/v1beta2
kind: Watcher
metadata:
  name: kyma-watcher
  namespace: system
  labels:
    "operator.kyma-project.io/managed-by": "lifecycle-manager"
spec:
  labelsToWatch:
    "operator.kyma-project.io/watched-by": "lifecycle-manager"
  resourceToWatch:
    group: operator.kyma-project.io
    version: "*"
    resource: kymas
  field: "spec"
  serviceInfo:
    name: klm-event-service
    port: 8082
    namespace: kcp-system
  gateway:
    selector:
      matchLabels:
        "operator.kyma-project.io/watcher-gateway": "default"
---
#apiVersion: operator.kyma-project.io/v1beta2
#kind: Watcher
#metadata:
#  name: manifest-watcher
#  namespace: system
#  labels:
#    operator.kyma-project.io/managed-by: "module-manager"
#spec:
#  labelsToWatch:
#    operator.kyma-project.io/watched-by: "module-manager"
#  resourceToWatch:
#    group: operator.kyma-project.io
#    version: "*"
#    resource: "*"
#  field: "status"
#  serviceInfo:
#    name: klm-event-service
#    port: 8083
#    namespace: kcp-system
#  gateway:
#    selector:
#      matchLabels:
#        "operator.kyma-project.io/watcher-gateway": "default"
---
apiVersion: v1
kind: Service
metadata:
  name: event-service
  namespace: system
spec:
  selector:
    app.kubernetes.io/name: klm-lifecycle-manager
  ports:
    - protocol: TCP
      name: klm
      port: 8082
      targetPort: 8082
    - protocol: TCP
      name: kmm
      port: 8083
      targetPort: 8083
