apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
  - name: maintenance-config
    files:
      - policy.json
patches:
  - path: patches/volume_mount.yaml
    target:
      kind: Deployment
      name: controller-manager
transformers:
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: add-maintwindows-cm-to-kcp-system
      namespace: kcp-system
    unsetOnly: true
